<form class="mt-2">
    <div class="form-group form-inline">
        Full text search: <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="service.searchTerm"/>
        <span class="ml-3" *ngIf="service.loading$ | async">Loading...</span>
        <button *appHasRole="['Admin','Moderator']" (click)="openModal()" class="btn btn-primary ml-2">Add book</button>
    </div>
  
    <table class="table table-striped">
      <thead>
        <tr class="row">
            <th class="col-md">#</th>
            <th class="col-md" sortable="Name" (sort)="onSort($event)">Name</th>
            <th class="col-md" sortable="Price" (sort)="onSort($event)">Price</th>
            <th class="col-md" sortable="AmInStock" (sort)="onSort($event)">Amount available</th>
            <th class="col-md">Author</th>
            <th class="col-md"></th>
        </tr>
      </thead>
      <tbody>
        <tr class="row" *ngFor="let book of books$ | async">
            <td class="col-md">

            </td>
            <td class="col-md">
                <ngb-highlight [result]="book.name" [term]="service.searchTerm"></ngb-highlight>
            </td>
            <td class="col-md">
                {{book.price}}
            </td>
            <td class="col-md">
                {{book.amInStock}}
            </td>
            <td class="col-md">
                <ngb-highlight [result]="book.authorName" [term]="service.searchTerm"></ngb-highlight>
            </td>
            <td class="col-md">
              <button *appHasRole="['Admin','Moderator']" class="btn btn-primary" (click)="delete(book)">Delete book</button>
              <button *appHasRole="['Admin','Moderator']" class="btn btn-primary mt-1" (click)="openModal(book)">Edit book</button>
            </td>
        </tr>
      </tbody>
    </table>
  
    <div class="row justify-content-center">
      <!-- <ngb-pagination
        [collectionSize]="total$ | async" [(page)]="service.page" [pageSize]="service.pageSize">
      </ngb-pagination> -->
        <ngb-pagination class="col-md-8" 
            [collectionSize]="total$ | async" 
            [(page)]="service.page" 
            [pageSize]="service.pageSize" 
            [maxSize]="5" 
            [rotate]="true" 
            [ellipses]="false" 
            [boundaryLinks]="true">
        </ngb-pagination>

        <select class="col-md-4" class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
          <option [ngValue]="10" selected>10 item per page</option>
          <option [ngValue]="20">20 item per page</option>
        </select>
    </div>
  
  </form>